/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.scss ***!
  \***************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300&family=Playfair+Display:ital,wght@1,400;1,500;1,700&display=swap);
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.scss (1) ***!
  \*******************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
}

body {
  background-color: #b9dbcd;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #004437;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 3px 10px 5px #06332b;
}

.logo {
  display: flex;
  position: relative;
  font-family: "Playfair Display", serif;
}
.logo:hover {
  cursor: pointer;
}
.logo h1 {
  color: #f8ae29;
  font-size: 20px;
  font-style: italic;
  font-weight: light;
}

.menu {
  display: flex;
  position: relative;
  justify-content: space-around;
  font-weight: normal;
}
.menu li {
  color: #f6faf8;
  display: flex;
  text-transform: uppercase;
  margin: 0 20px;
}
.menu li strong {
  text-shadow: 0px 0px 2px #ffb9b3;
}
.menu li a {
  text-decoration: none;
  color: #f6faf8;
}
.menu li:hover {
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .menu {
    display: none;
  }
}

.hidden-menu {
  display: none;
  position: relative;
}
@media screen and (max-width: 640px) {
  .hidden-menu {
    display: flex;
  }
}

.hide-menu {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
}
.hide-menu .stick {
  top: 20px;
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #f6faf8;
}
.hide-menu .stick-one {
  top: 10px;
}
.hide-menu .stick-tree {
  top: 30px;
}
.hide-menu:hover {
  cursor: pointer;
}

.burger-menu {
  position: absolute;
  display: none;
  margin: 0 auto;
  right: -30px;
  top: 10px;
  width: 320px;
  height: 150px;
  background-color: #b9dbcd;
  border: 5px solid #06332b;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #004437;
  text-transform: uppercase;
}
.burger-menu ul {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
}
.burger-menu li {
  display: flex;
  position: relative;
  list-style: none;
  margin: 10px auto;
  color: #06332b;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
}
.burger-menu li a {
  text-decoration: none;
  color: #06332b;
}

.burger-menu.show-menu {
  display: flex;
}

.hide-menu.show-menu {
  z-index: 15;
}
.hide-menu.show-menu .stick-tree {
  display: none;
}
.hide-menu.show-menu .stick {
  top: 40px;
  right: 10px;
  background-color: #06332b;
}
.hide-menu.show-menu .stick-one {
  transform: rotate(45deg);
}
.hide-menu.show-menu .stick-two {
  transform: rotate(-45deg);
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
  width: 100%;
  height: 100%;
}

.information {
  display: flex;
  position: relative;
  width: 350px;
  font-size: 30px;
  text-align: center;
  color: #06332b;
}

.quiz-start {
  width: 160px;
  height: 60px;
  background-color: #004437;
  border: none;
  color: #f6faf8;
  font-size: 40px;
  font-weight: 20px;
  border-radius: 10px;
}
.quiz-start:hover {
  cursor: pointer;
  background-color: #06332b;
  color: #f6faf8;
}
.quiz-start:active {
  background-color: #b9dbcd;
  color: #06332b;
  box-shadow: 0px 0px 5px 5px #004437;
}

footer {
  display: flex;
  position: fixed;
  justify-content: center;
  bottom: 0;
  align-items: flex-end;
  margin: 0 auto;
  width: 100%;
  color: #f6faf8;
  font-size: 20px;
  font-weight: bold;
}

.footer-list {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: #06332b;
  box-shadow: 0px -1px 5px 2px #004437;
}
.footer-list li {
  display: flex;
  position: relative;
  list-style-type: none;
}
.footer-list li a {
  cursor: pointer;
}
